/**
 * @file
 * Variables.
 */

// Fonts
$montserrat: 'Montserrat', sans-serif;

// Colors
$color-highlight: #efb257;
$color-button: $color-highlight;

// Text
$color-text: #414141;

// Links
$color-link: $color-text;

$gold: #dca134;
$silver: #a1a3a6;
$bronze: #c58c4a;

$grey: #e3e3e3;
