/**
 * @file
 * About section.
 */

.about {
  background: #fff;
  padding: 4em 0;
}

.about-title {
  clear: both;
  text-align: center;
  h1 {
    border-bottom: 3px solid $grey;
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1em;
    padding-bottom: 0.35em;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 1.5em;
  }
}

.left, .right {
  @include span(2);
  img {
    width: 100%;
    height: auto;
  }
}

.about-content {
  @include span(4);

  font-size: 1.2em;
  margin-top: 2em;
}
