* {
  @include box-sizing(border-box);
}

body {
  overflow-x: hidden;
}

$susy: (
  columns: 4,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: split,
  // debug: (image: show),
  use-custom: (
    box-sizing: false,
  ),
);

// Susy layouts
$desktop-layout: layout(auto 12 1/1 split);

// Susy Breakpoints
$desktop-breakpoint: 960px;

/**
 * Mobile first
 */
.inner {
  @include container();
  position: relative;
  z-index: 2;
}

section {
  overflow: hidden;
  position: relative;
  padding-bottom: 4em;
}

.header--inner,
.follow-us--inner,
.made-by--inner {
  @include span(4);
  margin-left: 0;
  margin-right: 0;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 100%;
}

/**
 * Media queries
 */

/* Desktop */
@include susy-breakpoint($desktop-breakpoint, $desktop-layout) {
  .inner {
    @include container(1180px);
    @include show-grid(12);
  }
  .header--inner,
  .follow-us--inner,
  .made-by--inner {
    @include span(12);
  }
}

.background {
  background: #a8ddf8;
}

.inner-form {
  @include container(760px);
  @include show-grid(12);
}

.partners-row {
  text-align: center;
}

.partner {
  display: inline-block;
  padding: 10px;
}