/**
 * @file
 * Variables.
 */

// Fonts
$montserrat: 'Montserrat', sans-serif;

// Colors
$color-highlight: #efb257;
$color-button: $color-highlight;

// Text
$color-text: #414141;

// Links
$color-link: $color-text;