/**
 * @file
 * About section.
 */

.about {
  background: #fff;
  padding: 4em 0;
  .about--inner {
  }
}

.about-title {
  clear: both;
  text-align: center;
  h1 {
    border-bottom: 3px solid #e3e3e3;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em;
    padding-bottom: 0.85em;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 1.5em;
  }
}

.stripe-section {
  clear: both;
  padding: 2em 0;
  .background {
    background: #a8ddf8;
    margin: 1em 0;
  }
}

.about-content {
  @include clearfix;
  .left,
  .right {
    @include span(4);

    h3 {
      margin-top: 1.5em;
    }
  }
}

/**
 * Media queries
 */

/* Desktop */
@include susy-breakpoint($desktop-breakpoint, $desktop-layout) {
  .about-content {
    .left,
    .right {
      @include span(6);
    }
  }
}