/**
 * @file
 * Buttons.
 */

.button {
  @include border-radius(5px);
  background: $color-button;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 1.2em 0;
  min-width: 194px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}