/**
 * @file
 * Footer section.
 */

.follow {
  padding: 4em 0;
}

.footer-content {
  .left {
    margin-bottom: 2.5em;
  }
  .left,
  .right {
    @include span(4);
  }
  .title {
    @include clearfix;
    h2 {
      border-bottom: 3px solid #72c5ef;
      float: left;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 1em;
      min-width: 200px;
      padding-bottom: 1em;
    }
  }
  .description {
    font-size: 32px;
    margin-bottom: 1.5em;
  }
}

.follow-us {
  background: #4ab4e9;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  padding: 2em 0;
  text-transform: uppercase;
  .follow-us--inner {
    text-align: center;
  }
  a:link,
  a:visited {
    color: #fff;
  }
  p {
    margin: 0;
  }

  .icon {
    background: image-url('sprite.png') no-repeat transparent;
    display: inline-block;
    &.twitter {
      @extend %hide-text;
      background-position: 0 0;
      height: 45px;
      width: 52px;
    }
    &.facebook {
      @extend %hide-text;
      background-position: -56px 0;
      height: 45px;
      width: 25px;
    }
  }

}

.made-by {
  @extend .follow-us;
  background: #000;
  font-size: 100%;
  text-transform: none;
  .made-by--inner {
    text-align: center;
  }
}

/**
 * Media queries
 */

/* Desktop */
@include susy-breakpoint($desktop-breakpoint, $desktop-layout) {
  .footer-content {
    .left {
      margin: 0;
    }
    .left,
    .right {
      @include span(6);
    }
  }
}