/**
 * @file
 * Header section.
 */

.header {
  background: #4ab4e9;
  color: #fff;
  .header--inner {
    // background: rgba(128, 256, 128, 0.45);
    background: image-url('mt.png') no-repeat center bottom;
    min-height: 465px;
  }
}

.header-title {
  text-align: center;
  h1 {
    border-bottom: 3px solid #3e99c7;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.85em;
    margin-top: 2em;
    padding-bottom: 0.85em;
    text-transform: uppercase;
    span {
      color: $color-highlight;
    }
  }
  h2 {
    font-size: 50px;
  }
}

.language {
  display: block;
  font-size: small;

  .active {
    cursor: default;
    text-decoration: none;
  }
}

/**
 * Media queries
 */

/* Desktop */
@include susy-breakpoint($desktop-breakpoint, $desktop-layout) {
  .header--inner {
  }
}