.partner-title {
  clear: both;
  text-align: center;
  h1 {
    border-bottom: 3px solid #e3e3e3;
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-bottom: 0.35em;
  }
}