/**
 * @file
 * Typography.
 */

body {
  color: $color-text;
  font-family: $montserrat;
  font-size: 100%;
  line-height: 1.2;
}

p {
  line-height: 1.7em;
  margin: 0 0 1em;
}

strong {
  font-weight: 600;
}

h2 {
  font-size: 18px;
}

ul {
  list-style: disc;
  padding: 0 0 20px 20px;
}

i {
  font-style: italic;
}

.underline {
  padding-bottom: 0.15em;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 3px solid $grey;
  display: inline-block;
  margin-bottom: 0.5em;
}

.gold {
  color: $gold;
  margin-top: 20px;
}

.silver {
  color: $silver;
  margin-top: 20px;
}

.bronze {
  color: $bronze;
  margin-top: 20px;
}

.button-row {
  text-align: center;
}