@charset utf-8;

/*
	general styles
 */
 
.serif,
cite,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, sans-serif;
	font-weight: normal;
}

.not-front content h2,
.node h3,
.node h4,
.node h5,
.node h6 {
	margin: 24px 12px 12px;
}

.monospace,
var,
code {
	font-family: courier new, courier, monospace;
}

.amp {
	font-style: italic;
	font-family: baskerville,palatino,palatino linotype,book antiqua,georgia,times,times new roman,serif;
	font-weight: normal;
}

a:link {
	color: #333333;
}
a:visited {
	color: #333333;
}
a:hover,a:active {
}

.node-content ul,
.node-content ol {
	padding-left: 24px;
}

input,
textarea { 
	border: 1px #aaa solid;
	outline: none;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
	border: 1px #444 solid;
}
input:focus,
textarea:focus {
	box-shadow:inset 0px 0px 10px rgba(0,0,0,.2);
	-webkit-box-shadow:inset 0px 0px 10px rgba(0,0,0,.2);
	-moz-box-shadow:inset 0px 0px 10px rgba(0,0,0,.2);
}
textarea {
	min-height: 150px;
	width: 100%;
}

blockquote {
	border-top: 1px #ccc dotted;
	border-bottom: 1px #ccc dotted;
	text-align: justify;
	margin: 20px;
	padding: 12px;
}
	blockquote:first-letter {
		font-size: 24px;
		padding-right: 1px;
	}
	blockquote:first-line {
		font-size: 20px;
}


/*
	layout styles
 */

#if-logged-in .container {
	background: #000;
	margin-top: -24px;
}

body {
	background: #062855;
	color: #696969;
	/*padding: 24px 0;*/
}

.container {
}
	#header .container {
		/*padding-top: 80px;*/
		/*padding-bottom: 10px;*/
	}
		#title {
			position: relative;
			height: 80px !important;
		}
			#logo,
			#tagline {
				position: absolute;
				bottom: 0;
			}
			#logo {
				left: 0;
				font-size: 72px;
				line-height: 72px;
				letter-spacing: 0;
			}
			#tagline {
				font-size: 18px;
				right: 0;
				line-height: 36px;
			}
			#header-image.container {
				padding: 0;
			}
	#nav-primary {
		clear: both;
		width: 100%;
		padding: 0 10px;
	}
		#nav-primary ul,
		#nav-primary li {
			list-style: none;
		}
			#nav-primary a {
				float: left;
				display: block;
				padding: 0 10px;
			}
	#widget-header {
		clear: both;
	}
	
	#content {
		/*border-top: 1px #ccc solid;*/
	}
		#widget-alert {
			background: #C6D8CD;
			border: 1px #5b816a solid;
			padding: 24px;
			margin-bottom: 24px;
		}
		body.front .node {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px #dedede solid;
                        background-color: #fff;
		}
	#sidebar {
		/*border-top: 1px #ccc solid;*/
                height:900px;
	}
		#sidebar .widget-area {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px #dedede solid;
		}
			#siebar ul,
			#sidebar li {
				padding: 0;
				margin: 0;
				list-style: none;
			}
				#sidebar .children {
					padding-left: 10px;
				}
					#sidebar .children .children {
						padding-left: 10px;
					}
	#footer .container {
		padding-bottom: 40px;
		/*background: #a9a9a9;*/
		/*background: rgba(225,225,225,.75);*/
		/*border-top: 1px #4d6197 solid;*/
                color:#5c74b2;
	}
        
        #footer .sponsor {
                padding-top:40px;
                height:82px;
                background:#062855;
        }
        
        #footer .sponsor ul {margin: 0; list-style:none; list-style-image: none;}
        
        #footer .sponsor li {float:left;padding-left:70px;}
        
		#footer-content {
			/*padding: 20px;*/
                        background:#001c65;
                        padding-bottom:40px;
                        padding-top:40px;
                        padding-left:40px;
                        /*border-top: 1px #4d6197 solid;*/
		}
                
                #footer-content a {color:#bccbf2;}
                
			#footer ul,
			#footer li {
				display: inline;
				list-style: none;
			}
				#footer li a {
					padding: 0 10px;
				}


/* Always remember to compress your live stylesheet and keep an uncompressed backup */

/* Additional style for the comments */
.comment-text {
  color: #666666;
  padding-left:5px;
  font-family: arial;
  font-size:13px;
  background-color:#f3f3f3;
  padding:30px;
  margin:0 auto;
  width:460px;
}

.comment_text_bottom {width:460px;height:15px;margin:0 auto;}

#comments .even {
  background-color: #ffffff;
}
#comments .odd {
  background-color: #ffffff;
} 
#comments  .comment {
  /*border-top:2px solid gray;*/
}
#comments  h3 {
  font-family:Arial;
  font-size:20px;
  text-decoration:uppercase;
}
#comments h3 a.active{
  color:#054A01;
}

#comments .submitted,
.post-content .submitted {
  font-size: 11px;
  padding-left: 50px;
  padding-top:5px;
  padding-bottom:50px;
}	

.submitted_name {float:left;font-weight: bold;color:#333333;}

.submitted_date_time {float:left;font-weight:none;color:#a0a0a0;}

#comments .submitted a{
  color:#AA0000;
}

#comments .new {
  color: #E12735;
}	

#reply_button{
    width:43px;
    height:21px;
    background:url('../images/back_btn_blue.png') repeat-x;
    padding-left:10px;
    padding-top:3px;
    float:right;
    margin-right:50px;
    font-size:13px;
}

.box{background-color:#ffffff;padding:50px;}

.box h2{font-family:Arial;color:#144ebd;text-transform:uppercase;border-top:1px dashed #cccccc;padding-top:20px;}

.box #edit-comment{ height:50px;}

#comment-form label{font-weight:bold;padding-bottom:5px;color:#333333;}

#twitter_title{width:320px;height:114px;background:#61bbd0;position:absolute;z-index:1000;background:url('../images/title-twitter.png') no-repeat;margin-top: -70px;}

#twitter_feed_container{background-color:#f3f3f3;padding-left:30px;margin-top:70px;position:relative;}

#subscribe_preview{width:320px;height:114px;position:absolute;z-index:1000;background:url('../images/subscribe_preview.png') no-repeat;overflow:hidden;}

/*#subscribe_letter{background:url('../images/icon_letter.png') no-repeat;width:93px;height:74px;position:absolute;margin-left:225px;}*/

#content{padding-top:30px;}

.post-content{background:#ffffff; overflow: hidden;}

ul.tabs.primary{padding:20px 30px 0 30px;}

/*fieldset{padding-left:50px;padding-right:50px;}*/

#user-register, #user-login, #user-pass{padding:10px 50px 50px 50px;}

ul.tabs.primary li a{padding:5px 10px 5px 10px;text-transform:uppercase;font-size:11px;background:#f5f5f5;font-weight:bold;}

ul.tabs.primary li a.active{background:#ffffff;}

ul.tabs.primary {padding-bottom:5px;}

.messages.error {margin:10px 50px 0px 50px;padding:10px;}

.messages.error ul li{list-style-type: none;}

.password-description.error {padding:10px;}

.password-description.error ul li{list-style-type: none;}

#edit-submit.form-submit, #edit-submit-1.form-submit{background:url('../images/back_btn_blue.png');height:24px;color:#ffffff;font-size:12px;border:none;cursor:pointer;cursor:hand;}

.description{font-size:11px;padding:10px 0;}

label{padding-top:10px;}

.title-content {border-bottom:1px dotted #c4c4c4;background:#f3f3f3;padding:30px 20px;margin: 0 0 0 0;text-transform:uppercase;font-family:Arial;color:#144ebd;font-size:25px;}

.banner_placeholder{width:300px;padding-bottom:30px;}

.banner_placeholder_wrapper{}

article{color:#696969;}

.post-content a {color:#144ebd;}

#contact-mail-page{padding:20px 50px 50px 50px;}

.messages.status {margin-bottom:10px;padding:20px;}

#search-form.search-form {margin:10px 50px 0px 50px;background-color:#eaeaea;padding-top:20px;padding-bottom:20px;}

#search-form.search-form {}

.search-form .form-item label {padding-left:30px;}

.search-form .form-item .container-inline {position:absolute;margin-top:-21px;margin-left:170px;}

.search-form .form-item #edit-keys.form-text {width:240px;}

.box h2 {border-bottom:dotted 1px #cccccc;border-top:none;margin-top:-30px;font-weight:bold;padding-bottom:20px;margin-bottom:30px;}

dl.search-results.user-results {padding-bottom:20px;border-bottom:dotted 1px #cccccc;}

/*News pagination*/

ul.pager {padding:20px;}

ul.pager a {font-family: Arial;color:#0051c0;font-size:15px;}

/* sessions tables */
.view-sessions {
	margin: 20px;
}

.view-sessions table td {
	padding: 20px 10px;
}

.view-sessions table td a:first-child {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 2px;
}

.view-sessions table td p {
	padding-top: 20px;
}

.view-sessions table td p {
	margin: 0;
}

.view-sessions table thead th {
	border-bottom: 2px solid #e6e6e6;
	padding: 0 10px 10px;
}

.view-sessions table thead th.views-field-field-experience-value {
	text-align: center;
}

.view-sessions table tbody td.views-field-field-experience-value {
	color: #333;
}

.view-sessions tr.even, tr.odd {
	border-bottom: 1px solid #e6e6e6;
}

.view-sessions tr.even {
	background: #e5e5e5;
}

.view-sessions tr.odd {
	background: #f3f3f3;
}

.view-sessions .views-exposed-widget:first-child {
	width: 125px;
}

.view-sessions .views-exposed-form label {
	display: block;
	padding: 10px 0;
}

.view-sessions .views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 36px;
}

.view-sessions table td ul {
	margin: 10px 0;
	padding-left: 20px;
}

.feed-icon {
	display: block;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.front .feed-icon {
	margin: 0 50px 20px 50px;
}

.block-search h2 {
	display: none;
}

.block-search .container-inline div, .container-inline label {
	display: block;
	float: left;
	margin: 0;
	width: 125px;
}

#sidebar h2 {
	margin-bottom: 10px;
}

.node,
#node-form {
	padding: 50px;
}

.front #content .block {
	padding: 0 50px
}

.indented {
	margin: 0px !important;
}

fieldset {
	margin: 20px 0 !important;
}

.block {
	margin-bottom: 20px;
}

.add-session-btn {
	background: url('../images/add-session-btn.png') no-repeat transparent;
	display: block;
	height: 109px;
	width: 300px;
}

#block-block-1 h2 {
	background: url('../images/twitter-head.png') no-repeat transparent;
	height: 117px;
	margin-bottom: 0;
	text-indent: -9999px;
	width: 317px;
}

#content #user-profile-form {
	padding: 0 25px 30px;
}