<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="Putovní konference Československé Drupal komunity. Tentokrát v Brně na VUT FIT.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://drupalcs.camp">
    <meta property="og:description"
          content="Putovní konference Československé Drupal komunity. Tentokrát v Brně na VUT FIT.">
    <meta property="og:image" content="/images/dccs_social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@drupalcampCS">
    <meta name="twitter:creator" content="@drupal_sk">
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }} | DrupalCamp ČeskoSlovensko">
    <meta property="og:title" content="{{ page.title }} | DrupalCamp ČeskoSlovensko">
    <title>{{ page.title }} | DrupalCamp ČeskoSlovensko</title>
    {% else %}
    <meta name="twitter:title" content="DrupalCampCS 2017 | DrupalCamp ČeskoSlovensko">
    <meta property="og:title" content="DrupalCampCS 2017 | DrupalCamp ČeskoSlovensko">
    <title>DrupalCampCS 2017 | DrupalCamp ČeskoSlovensko</title>
    {% endif %}
    <meta name="twitter:description"
          content="Putovní konference Československé Drupal komunity. Tentokrát v Brně na VUT FIT.">
    <meta name="twitter:image" content="/images/dccs_social.png">

    <link rel="shortcut icon" href="/favicon.jpg" type="image/jpeg">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/menu_sideslide.css"/>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-11573462-3', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>

<div class="page">
    <div class="menu-wrap">
        <nav class="menu">
            <div class="icon-list">
                <a href="/"><i class="fa fa-fw fa-question"></i><span>O DrupalCampCS</span></a>
                <a href="/program"><i class="fa fa-fw fa-comments-o"></i><span>Program</span></a>
                <a href="/venue"><i class="fa fa-fw fa-map-marker"></i><span>O místě</span></a>
                <a href="/listky/"><i class="fa fa-fw fa-ticket"></i><span>Lístky</span></a>
                <a href="/partneri"><i class="fa fa-fw fa-heart-o"></i><span>Partneři</span></a>
                <a href="/#follow"><i class="fa fa-fw fa-envelope-o"></i><span>Kontakt</span></a>
            </div>
        </nav>
        <button class="close-button" id="close-button">Zatvoriť Menu</button>
    </div>
    <button class="menu-button" id="open-button">Otvoriť Menu</button>
    <!-- Header section start -->
    <header class="section header">
        <div class="deco-group deco-group-1">
            <div class="deco"></div>
            <div class="deco"></div>
            <div class="deco"></div>
        </div>
        <div class="deco-group deco-group-2">
            <div class="deco"></div>
            <div class="deco"></div>
            <div class="deco"></div>
        </div>
        <div class="inner">
            <div class="header--inner{% unless page.event_info %} header--inner--compact{% endunless %}">
                <div class="header-title">
                    <a href="/">
                        <h1>DrupalCamp<span class="highlighted">CS</span></h1>
                    </a>
                    {% if page.event_info %}
                    <h2>27.&nbsp;5.&nbsp;2017, Brno</h2>
                    <a href="#listky" class="button">Kup si lístek</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <!-- Header section end -->

    <!-- About section start -->
    <section class="section about">
        <div class="deco-group deco-group-3">
            <div class="deco"></div>
            <div class="deco"></div>
            <div class="deco"></div>
        </div>
        <div class="inner">

            {{ content }}

        </div>
    </section>
</div>
<!-- About section end -->
<!-- Footer start -->
<a name="follow"></a>
<!-- Footer section start -->
<section class="follow background">
    <div class="inner">
        <div class="footer-content">
            <div class="left">
                <div class="title">
                    <h2>Odoberať</h2>
                </div>
                <div class="description">
                    Zostaň v obraze
                </div>
                <div class="form">
                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet"
                          type="text/css">
                    <style type="text/css">
                        #mc_embed_signup {
                            background: #fff;
                            clear: left;
                            font: 14px Helvetica, Arial, sans-serif;
                        }

                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                        <form action="//camp.us10.list-manage.com/subscribe/post?u=13ebe3356097be65706b9662d&amp;id=50b78e1e81"
                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                              class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h2>Prihlás sa do nášho mailing listu.</h2>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates
                                    required
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Emailová adresa <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email"
                                           id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-FNAME">Meno </label>
                                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-LNAME">Priezvisko </label>
                                    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text"
                                                                                       name="b_13ebe3356097be65706b9662d_50b78e1e81"
                                                                                       tabindex="-1" value="">
                                </div>
                                <div class="clear"><input type="submit" value="Odoberať" name="subscribe"
                                                          id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript'
                            src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                    <script type='text/javascript'>(function ($) {
                      window.fnames = new Array();
                      window.ftypes = new Array();
                      fnames[0] = 'EMAIL';
                      ftypes[0] = 'email';
                      fnames[1] = 'FNAME';
                      ftypes[1] = 'text';
                      fnames[2] = 'LNAME';
                      ftypes[2] = 'text';
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>
            </div>
            <div class="right">
                <div class="title">
                    <h2>Sleduj nás</h2>
                </div>
                <div class="description">

                </div>
                <div class="tweets">
                    <a class="twitter-timeline" height="300" href="https://twitter.com/drupalcampCS"
                       data-widget-id="571361462958829568">Tweets by @drupalcampCS</a>
                    <script>!function (d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                      if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                      }
                    }(document, "script", "twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer section end -->

<section class="follow-us">
    <div class="inner">
        <div class="follow-us--inner">
            <p>Sleduj nás na <a class="icon twitter" href="https://twitter.com/drupalcampCS"
                                target="_blank">twitter</a> alebo <a class="icon facebook"
                                                                     href="https://www.facebook.com/drupalcampCS"
                                                                     target="_blank">facebook</a></p>
        </div>
    </div>
</section>
<script src="/js/classie.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
